<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title><%= @signature.name %>'s Email Signature</title>
</head>
<body text="#000000" bgcolor="#FFFFFF" style="color:#000; background-color:#FFF;">

  <table width="100%" cellpadding="0" cellspacing="0" style="border: 0px solid #FFF;">
    <tr style="border: 0px solid #FFF;">
      <td width="100%" style="width: 100%; border: 0px solid #FFF;">
        <table width="700" cellpadding="0" cellspacing="0"  style="width: 700px; border: 0px solid #FFF;">
          <tr style="border: 0px solid #FFF;">
            <td valign="top" width="95" style="width: 95px; border:0px solid #FFF;">
              <%= link_to 'https://www.ey.com/analytics/apac' do %>
                <%= content_tag 'img', nil, :width => 109, :height => 85, :border => 0, :style => "width: 109px; height: 85px; border: 0px solid #FFF; outline: none; text-decoration: none; display: inline;", :src => @signature.logo_path, :nosend => 1 %>
              <% end %>
            </td>
            <td valign="top" width="605" style="width: 605px; border: 0px solid #FFF;">
              <span style="font-family: Arial,sans-serif; font-size:12px; color:#000;">
                <span style="font-weight: bold;"><%= @signature.name %></span> | <%= @signature.role %><br/>
                Data &amp; Analytics | Asia-Pacific Advisory
              </span>
              <br/><br/>
              <span style="font-family: Arial,sans-serif; font-size:12px; color:#000;">
                <%= @signature.company %><br/>
                <%= @signature.address %>
              </span>
              <br/><br/>
              <span style="font-family:Arial,sans-serif; font-size:11px; color:#000;">
                <%- if @signature.assistant_name.present? -%>
                Assistant: <%= @signature.assistant_name %> | <%= link_to @signature.assistant_phone, @signature.assistant_phone_href, :style => 'color: blue;' %> | <%= mail_to @signature.assistant_email, @signature.assistant_email, :style => 'color: blue;' %><br/>
                <%- end -%>
                Mobile: <%= link_to @signature.phone, @signature.phone_href, :style => 'color; blue;' %><br/>
                Email: <%= mail_to @signature.email, @signature.email, :style => 'color: blue;' %><br/>
                Linkedin: <%- if @signature.linkedin_url.present? -%><%= link_to @signature.name, @signature.linkedin_url, :style => 'color: blue;' %> &amp; <%- end -%><%= link_to "EY Analytics (Asia-Pacific)", "https://www.linkedin.com/company/ey-data-analytics/", :style => 'color: blue;' %><br/>
                Twitter: <%- if @signature.twitter.present? -%><%= link_to @signature.twitter_name, @signature.twitter_url, :style => 'color: blue;' %> &amp; <%- end -%><%= link_to "@EYanalyticsAPAC", "https://twitter.com/EYanalyticsAPAC", :style => 'color: blue;' %><br/>
                Website: <%= link_to 'www.ey.com/analytics/apac', 'https://www.ey.com/analytics/apac', :style => 'color: blue;' %><br/>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>
</html>

